@media (min-width: 1920px){
/* @media screen and (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 1.5){ */
/* and (-webkit-min-device-pixel-ratio: 1.5) */

/* @media */
	/* only screen and (min-width: 1920px) and (-webkit-min-device-pixel-ratio : 1.5), */
	/* only screen and (min-width: 1920px) and (min-device-pixel-ratio : 1.5) { */
		
/* @media only screen and (max-width: 1920px) and (-Webkit-min-device-pixel-ratio: 1.5),  */
/* @media only screen and (max-width: 1920px) and (-moz-min-device-pixel-ratio: 1.5), */
/* @media only screen and (max-width: 1920px) and (-o-min-device-pixel-ratio: 3/2), */
/* @media only screen and (max-width: 1920px) and (min-device-pixel-ratio: 1.5){ */

	body {
		width: 1920px !important;
		height: 1080px !important;
	}

	.tab {
		width: 300px !important;
	}

	.tab .btn-billout {
		font-size: 21px !important;
	}

	.right-side-bar {
		width: 350px !important;
		height: 1080px !important;
	}

	.right-side-bar div {
	    width: 350px !important;
	    /*height: 483px !important;*/
	}

	.right-side-bar div:nth-child(3){
		text-align: center !important;
	}

	.right-side-bar div:nth-child(3) button{
		margin: 0 !important;
	}

	.right-side-bar div:nth-child(3) button:nth-child(1){
		margin: 0 0 10px 0 !important;
	}

	.right-side-bar div.male-order, div.female-order {
		height: 471px!important;
	}

	.right-side-bar div.order-header {
		padding: 6px 0px 0px 13px !important;
		font-size: 21px !important;
		height: 45px !important;
	}

	.right-side-bar .set-order {
		padding: 10px;
	}

	.right-side-bar .set-order button {
		width: 100%;
		height: 54px;
	}

	.right-side-bar div.order-body {
		height: 426px;
	}

	.btn-checkOut {
		margin: 0 0 10px 0 !important;
	}

	.tabcontent {
		width: 1270px !important;
	}

	.content-body {
		height: 1080px !important;
	}

	.content-body .group:nth-child(1) {
		padding: 30px 0px 0px 0px !important;
	}

	.content-body .group p.cat-name {
		margin: 0 0 25px 50px !important;
		font-size: 21px !important;
	}

	.content-body .menu-footer .gender-price div {
		padding-top: 17px !important;
	    font-size: 21px !important;
	}

	.content-body .detail-header {
		font-size: 18px !important;
	}

	.content-body .detail-body {
		height: 87px !important;
		font-size: 14px !important;
	}

	.menu_list_item {
		width: 539px !important;
		height: 236px !important;
	}

	.menu_list_item:nth-child(odd) {
	    margin: 0px 60px 20px 50px !important;
	}

	.menu_list_item .menu-header {
	    height: 142px !important;
	}

	.menu_list_item .menu-image {
		width: 175px !important;
    	height: 140px !important;
	}

	.menu_list_item .menu-details {
		width: 336px !important;
    	height: 140px !important;
	}

	.menu_list_item .menu-footer div {
	    width: 236px !important;
	    height: 65px !important;
	}

	.top-cat {
	    height: 921px !important;
	}

	.x-toggle {
		height: 87px !important;
		font-size: 21px !important;
	}

	.check-star {
		height: 60px !important;	
		font-size: 21px !important;
	}
	.set-order{
		position: fixed;
		bottom: 50px;
		width: 100%;
	}

}